*{
    font-family: "Arial Rounded MT Bold", "Trebuchet MS", "Comic Sans MS", sans-serif;
    font-weight: bold;
}

.mainTab{
    height: 100vh;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: 30px;

    background-color: rgb(87, 87, 87);
}

#displayPi{
    background-color: rgb(129, 129, 129);
    font-size: 50px;

    min-width: 700px;
    max-width: 900px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    overflow: auto;
}
#displayPi #displayText{
    margin: 20px;
}

#buttonMinePi{
    border: 0px solid rgb(255, 255, 255);
    min-width: 300px;
    border-radius: 50px;
    padding: 20px 30px;

    background-color: rgb(231, 255, 94);
    font-size: 25px;
    &:hover{
        background-color: rgb(255, 203, 107);
        &:active{
            border: 5px solid white;
            padding: 15px 25px;
        }
    }
}